{% extends 'main_app/base.html' %} {% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Edit Account</h1>
</div>

<div class="page-content">
  <form method="post">
    {% csrf_token %}
    <fieldset>
      <legend>Update Account Information</legend>
      {{ user_form.as_p }}
    </fieldset>
    <fieldset>
      <legend>Update Profile Information</legend>
      {{ profile_form.as_p }}
    </fieldset>
    <button type="submit" class="btn btn-secondary"><span>Save Changes</span></button>
  </form>
  <a href="{% url 'profile' %}" class="btn btn-secondary"><span>Cancel</span></a>
</div>

{% endblock %}
