{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rooted</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Inconsolata:wdth,wght@112.5,200..900&family=Slabo+27px&family=Ultra&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %} {% endblock %}
  </head>

  <body>
    <header>
      <div class="header-logo-container">
        <a href="/">
          <img src="{% static 'images/logo.svg' %}" alt="Rooted logo" height="100" />
        </a>
      </div>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

    {% if user.is_authenticated %}
    <nav class="navbar">
      <section class="container">
        <ul class="menu">
          <li class="menu-item">
            <a href="{% url 'memory-list' %}">
              <div class="item-group">
                <img class="icon" src="{% static 'images/tree.svg' %}" alt="Tree icon" height="53" />
                <p class="icon-text">family memories</p>
              </div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'my-memories' %}">
              <div class="item-group">
                <img class="icon" src="{% static 'images/log.svg' %}" alt="Log icon" height="53" />
                <p class="icon-text">my memories</p>
              </div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'profile' %}">
              <div class="item-group">
                <img class="icon" src="{% static 'images/leaf.svg' %}" alt="Leaf icon" height="55" />
                <p class="icon-text">profile</p>
              </div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'home' %}">
              <div class="item-group">
                <img
                  class="icon"
                  src="{% static 'images/flash.svg' %}"
                  alt="Flash icon"
                  height="45"
                />
                <p class="icon-text">quick links</p>
              </div>
            </a>
          </li>
        </ul>
      </section>
    </nav>
    {% endif %}
  </body>
</html>
