<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="shortcut icon" type="image/png" href="" /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    {% block head %} {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <a href="/">
          <img src="" alt="Rooted Logo" />
        </a>
      </div>
    </header>
    <main>
      <div class="page-content">{% block content %} {% endblock %}</div>
    </main>
    <nav>
      <ul>
        <li>
          <a href="/family-memories"
            ><i class="bi bi-tree"></i>Family Memories</a
          >
        </li>
        <li>
          <a href="/my-memories"><i class="bi bi-bullseye"></i>My Memories</a>
        </li>
        <li>
          <a href="/my-memories"><i class="bi bi-people"></i>Relatives</a>
        </li>
        <li>
          <a href="/profile"><i class="bi bi-person"></i>Profile</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
