{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rooted</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Inconsolata:wdth,wght@112.5,200..900&family=Slabo+27px&family=Ultra&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="icon" href="{% static 'images/logo.svg' %}" type="image/x-icon">
    {% block head %} {% endblock %}
  </head>

  <body>
    <header>
      <div class="header-container">
        <a href="/">
          <img src="{% static 'images/logo.svg' %}" alt="Rooted logo" />
        </a>
        <div class="header-text">
          <h1>Rooted</h1>
          <p>Welcome home.</p>
        </div>
      </div>
    </header>

    <main>
      <div>
      {% block content %}{% endblock %}
      </div>
    </main>

    {% if user.is_authenticated %}
    <nav class="navbar">
      <section class="container">
        <ul class="menu">
          <li class="menu-item">
            <a href="{% url 'memory-list' %}">
              <div class="item-group">
                <img src="{% static 'images/tree.svg' %}" alt="Tree icon" height="53" />
                <h2>Family Mems</h2>
              </div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'my-memories' %}">
              <div class="item-group">
                <img src="{% static 'images/log.svg' %}" alt="Log icon" height="53" />
                <h2>My Memories</h2>
              </div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'profile' %}">
              <div class="item-group">
                <img src="{% static 'images/leaf.svg' %}" alt="Leaf icon" height="55" />
                <h2 >Profile</h2>
              </div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'home' %}">
              <div class="item-group">
                <img src="{% static 'images/flash.svg' %}" alt="Flash icon" height="45" />
                <h2 >Quick Links</h2>
              </div>
            </a>
          </li>
        </ul>
      </section>
    </nav>
    {% endif %}
  </body>
</html>
