{% extends 'main_app/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/details.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
{% endblock %}
{% block content %}

{% if user.is_authenticated %}

<div class="page-header">
  <h1>Welcome home, {{ user.username }}!</h1>
</div>

<div class="page-content">
  <div class="btn-container">
    <p><a href="{% url 'profile' %}" class="btn btn-secondary"><span>View Profile</span></a></p>
    <p><a href="{% url 'memory-list' %}" class="btn btn-secondary"><span>Reminisce</span></a></p>
    <p><a href="{% url 'memory-create' %}" class="btn btn-secondary"><span>Create Memories</span></a></p>
    <form id="logout-form" method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button class="btn btn-primary" type="submit"><span>Log out</span></button>
    </form>
  </div>
</div>

{% else %}

<div class="page-header">
  <h1>Login</h1>
</div>

<div class="page-content">
  <form action="" method="post" class="login">
    <fieldset>
      <legend>I have an account</legend>
      {% csrf_token %} {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="btn btn-secondary"><span>Login</span></button>
    </fieldset>
  </form>
  <p>Don't have an account? <a href="{% url 'signup' %}" class="link-subtle"><span>Sign up here</span></a></p>
</div>

{% endif %} {% endblock %}
