{% extends 'main_app/base.html' %} {% load static %} {% block content %} 
{% if user.is_authenticated %}

<div class="page-header">
  <h1>Welcome back, {{ user.username }}!</h1>
</div>

<div class="page-content">
  <p><a href="{% url 'profile' %}" class="click">View Profile</a></p>
  <p><a href="{% url 'memory-list' %}" class="click">Reminisce</a></p>
  <p><a href="{% url 'memory-create' %}" class="click">Create Memories</a></p>
  <form id="logout-form" method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button class="click" type="submit">Log out</button>
  </form>
</div>

{% else %}

<div class="page-header">
  <h1>Login</h1>
</div>

<div class="page-content">
  <form action="" method="post" class="login">
    {% csrf_token %} {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="click submit">Login</button>
  </form>
  <p>Don't have an account? <a href="{% url 'signup' %}" class="click">Sign up here</a>.</p>
</div>

{% endif %} {% endblock %}
