{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rooted</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Inconsolata:wdth,wght@112.5,200..900&family=Slabo+27px&family=Ultra&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/details.css' %}" />
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
    <link rel="icon" href="{% static 'images/logo.svg' %}" type="image/x-icon">
  </head>

  <body>
    <header>
      <div class="header-container">
        <a href="/">
          <img src="{% static 'images/logo.svg' %}" alt="Rooted logo" />
        </a>
        <div class="header-text">
          <h1>Rooted</h1>
          <p>Welcome home.</p>
        </div>
      </div>
    </header>

    <div class="main">
      <div class="page-header">
        <h1>Sign Up</h1>
      </div>

      <div class="page-content">
        <form action="" method="post" class="signup">
          <fieldset>
            <legend>Create my account</legend>
            {% csrf_token %} {{ form.as_p }} {% if error_message %}
              <p class="danger">{{ error_message }}</p>
            {% endif %}
            <button type="submit" class="btn btn-secondary"><span>Sign Up</span></button>
          </fieldset>
        </form>
        <p>Already have an account? <a href="{% url 'home' %}" class="link-subtle"><span>Log in here</span></a></p>
      </div>
    </div>
  </body>
</html>