* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #9CAF88;
    --secondary-color: #8C5329;
    --tertiary-color: #00291C;
    --accent-color: #C65D57;
    --light-color: #EDE6DB;
    --medium-color: #705D56;
    --dark-color: #433c34;
}

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--tertiary-color);
    color: white;
    font-size: 14px;
}  

h1, h2, h3, .btn {
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
p {
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 112.5;
    letter-spacing: .08em;
}

header {
    width: 75%;
}

ul {
    list-style-type: none;
}

a {
    all: unset;
}

main {
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navbar {
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
    padding: 20px 10px;
    width: 60%;
    backdrop-filter: blur(15px);
    background-color: var(--light-color);
    border-radius: 8px;
    color: var(--primary-color);
}

.navbar h2 {
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 25px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2;
    align-items: baseline;
}

.menu-item {
    align-items: baseline;
    height: 74px;
}

.item-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly

}

.btn {
    font-size: 16px;
    font-weight: 400;
    background-color: #154633;
    padding: 24px 24px 24px 32px;
    display: flex;
    align-items: center;
    border-radius: 99px;
    position: relative;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  .btn span {
    color: #fff;
    line-height: 1;
    z-index: 5;
    margin-right: 48px; 
  }
  
  .btn img {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    z-index: 6; 
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  .btn::before {
    content: '';
    background-color: #95C11F;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 99px;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  .btn:hover img {
    transform: translateY(-50%) rotate(90deg); 
  }
  
  .btn:hover::before {
    width: 100%;
    height: 100%;
    right: 0;
  }