* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #9CAF88;
    --secondary-color: #8C5329;
    --tertiary-color: #00291C;
    --tertiary-color-alt: #005137;
    --accent-color: #C65D57;
    --danger-color: #e8716b;
    --light-color: #EDE6DB;
    --medium-color: #705D56;
    --dark-color: #433c34;
}

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--tertiary-color);
    color: white;
    font-size: 14px;
}  

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  padding: 12px 18px 0 24px;
  background-color: rgba(156, 175, 136, .9);
  color: var(--tertiary-color);
  border-bottom: 10px solid var(--light-color);
  z-index: 1;
}

.header-container {
  display: flex; 
  flex-direction: row; 
  align-items: center;
}

.header-text {
  box-sizing: border-box; 
}

header img {
  height: 55px;
  margin: auto 10px auto 10px;
}

header h1 {
  font-size: 2em;
  letter-spacing: .08em;
  font-weight: 500;
}

header p {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 10px;
}

.page-header {
  margin: 8px auto 30px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-header h1 {
  font-size: 3em;
}

h1, h2, h3, .btn, .link-subtle {
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
  
p {
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 112.5;
    letter-spacing: .08em;
}

ul {
    list-style-type: none;
}

a {
    all: unset;
}

main {
    padding-top: 85px;
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navbar {
    position: fixed;
    bottom: 0;
    padding: 20px 10px;
    width: 75%;
    backdrop-filter: blur(15px);
    background-color: var(--light-color);
    border-radius: 8px;
    color: var(--primary-color);
}

.navbar h2 {
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 25px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2;
    align-items: baseline;
}

.menu-item {
    align-items: baseline;
    height: 74px;
}

.item-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.btn {
    font-size: 16px;
    font-weight: 400;
    margin: 5px 5px 5px 0px;
    padding: 24px 24px 24px 32px;
    display: flex;
    align-items: center;
    max-width: fit-content;
    justify-content: right;
    border: none;
    border-radius: 99px;
    position: relative;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }

  .btn-primary {
    background-color: var(--tertiary-color-alt);
  }

  .btn-secondary {
    background-color: var(--primary-color);
  }

  .btn-danger {
    background-color: var(--accent-color);
  }
  
  .btn span {
    color: #fff;
    line-height: 1;
    z-index: 3;
    margin-right: 48px; 
  }
  
  .btn img {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    z-index: 4; 
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  .btn::before {
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 99px;
    z-index: 2;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  .btn-primary::before {
    background-color: var(--primary-color)
  }

  .btn-secondary::before {
    background-color: var(--tertiary-color-alt)
  }

  .btn-danger::before {
    background-color: var(--danger-color)
  }

  .btn:hover img {
    transform: translateY(-50%) rotate(90deg); 
  }
  
  .btn:hover::before {
    width: 100%;
    height: 100%;
    right: 0;
  }