* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #9CAF88;
    --secondary-color: #8C5329;
    --tertiary-color: #00291C;
    --accent-color: #C65D57;
    --light-color: #EDE6DB;
    --medium-color: #705D56;
    --dark-color: #433c34;
    --border: 1px solid #ddd;
}

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height:100vh;
    background-color: var(--light-color);
}

header {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navbar {
    padding: 20px 10px;
    width: 60%;
    backdrop-filter: blur(15px);
    background-color: #fff;
    border-top: var(--border);
    border-radius: 8px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2;
}

.menu-item {
    margin-left: 5px;
}