.info {
    border: 2px var(--light-color) solid;
    border-radius: .8em;
    padding: 20px 20px 30px 30px;
    font-size: 1.3em;
    font-weight: 200;
}

.subtitle, .info {
    margin-bottom: 20px;
}

.info p span, .subtitle {
    font-size: 0.8em;
    font-weight: 500;
}

.attribute {
    margin-bottom: 5px;
}

.date {
    font-weight: 300;
}

.btn-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 25px;
    margin: 20px auto;
}

@media (max-width: 600px) {
    .info {
        font-size: 1em;
        padding: 10px;
    }
}