fieldset {
    border: 1px var(--light-color) solid;
    border-radius: .8em;
    padding: 10px 10px 20px 20px;
    margin: 20px auto;
}

fieldset label, fieldset legend {
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

fieldset label {
    font-size: 16px;
}

#comment-section fieldset legend {
    font-size: 0.8em;
    letter-spacing: 0.08em;
    font-weight: 500;
}

#comment-section fieldset label {
    display: none;
}

fieldset input, fieldset ul{
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-size: 1.1em;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 112.5;
    letter-spacing: .08em;
    color: black;
    padding: 3px;
    margin: 2px;
}

input, textarea {
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-size: 1.1em;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 112.5;
    letter-spacing: .08em;
    color: black;
}

fieldset p {
    margin-top: 8px;
}

.login .btn {
    margin: 30px auto 20px 5px;
}

.login {
    margin-bottom: 40px;
}

.link-subtle{    
    font-size: 14px;
    font-weight: 400;
    margin: 10px 5px 5px 0;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    max-width: fit-content;
    justify-content: center;
    border: 3px solid var(--tertiary-color-alt);
    border-radius: 99px;
    position: relative;
    color: #fff;
}
    
.link-subtle:hover {
    border: 3px solid var(--primary-color);
  }

.danger {
    border: 3px solid rgba(198, 92, 87, .7);
}

.danger:hover {
    border: 3px solid var(--danger-color);
}

.helptext, .signup ul {
    color: white;
    opacity: 60%;
    font-size: 0.85em;
    letter-spacing: normal;
    font-weight: 300;
}

@media  (max-width: 600px) {
    form, fieldset, .info {
        width: 100%;
        max-width: 100%;
    }

    fieldset {
        padding: 5px 10px 10px 5px;
        margin: 8px 5px 0 0;
    }

    #signup-section fieldset {
        margin: 0px auto 20px auto;
    }

    fieldset legend {
        font-size: 1em;
        letter-spacing: 0.08em;
        font-weight: 500;
    }

    fieldset label {
        font-size: 1em;
        font-weight: 500;
    }

    input, textarea {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        font-size: 16px;
    }
}