fieldset {
    border: 1px var(--light-color) solid;
    border-radius: .8em;
    padding: 10px 10px 20px 20px;
    margin: 20px auto;
}

fieldset label, fieldset legend {
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

fieldset legend {
    font-size: 1.5em;
}

fieldset input {
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-size: 1.1em;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 112.5;
    letter-spacing: .08em;
    color: black;
    padding: 3px;
    margin: 2px;
}

.login .btn {
    margin: 30px auto 20px 5px;
}

.login {
    margin-bottom: 40px;
}

.legend .btn {
    margin-top: 15px;
}