.page-header h1 {
    text-align: center;
    margin-bottom: 5%;
}

.page-header a {
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: var(--light-color);
    width: 100%;
    padding: 5px;
    border-radius: 1.5em;
}

.card {
    display: flex;
    flex-flow: row wrap;
    min-width: 300px;
    max-width: 47%;
    height: auto;
    margin: 8px;
    padding: 8px;
    border-radius: 1.5em;
    background-color: var(--medium-color);
    overflow: hidden;
}

.card a {
    display: block;
}

.card-content {
    display: flex; 
    flex-direction: row; 
    align-items: center;
}

.card img {
    width: 33.33%; 
    object-fit: cover;
    height: 100%;
}

.card-text {
    width: 66.66%; 
    padding: 15px;
    box-sizing: border-box; 
}

.card-text h1 {
    margin: 0; 
    font-size: 1.5em; 
  }

.card-text p {
    margin-top: 10px; 
    font-size: 1em;
}

@media (max-width: 600px) {
    .card {
        max-width: 100%;
    }

    .card-text h1 {
        font-size: 1.3em;
    }
    
    .card-text p {
        margin-top: 5px; 
        font-size: 0.9em;
    }
}