.page-header {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 8px;
}

.card-content {
    align-items: left;
}