{% extends 'main_app/base.html' %}{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/details.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Are you sure you want to delete your profile?</h1>
  <h2>This will effectively delete all memories and comments you created.</h3>
</div>

<div class="page-content">
  <form method="post">
    {% csrf_token %} 
    <div class="btn-container">
      <a href="{% url 'profile' %}" class="btn btn-secondary"><span>Cancel!</span></a>
      <button type="submit" class="btn btn-danger"><span>Yes - Delete</span></button>
    </div>
  </form>
</div>

{% endblock %}
