{% extends 'main_app/base.html' %} {% load static %} {% block content %}

<div class="page-header">
  <h1>{{ user.username }}'s Profile</h1>
</div>

<div class="page-content">
  <p>Birthdate: {{ user.relativeprofile.birthdate }}</p>
  <form id="logout-form" method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit" class="btn">Log out</button>
  </form>
  <a href="{% url 'account-update' %}" class="btn btn-warn">Edit Account</a>
  <a href="{% url 'profile-delete' %}" class="btn btn-danger">Delete Account</a>
</div>

{% endblock %}
