{% extends 'main_app/base.html' %} {% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/details.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
{% endblock %}
{% block content %}

<div class="page-header">
  {% if memory %}
  <h1>Edit Memory</h1>
  <h3>{{ memory.title }}</h3>
  {% else %}
  <h1>Add New Memory</h1>
  {% endif %}
</div>

<div class="page-content">
  <form action="" method="post" class="form-container">
    {% csrf_token %}
    <fieldset>
      <legend>Share your story</legend>
    <table>
      {{ form.as_table }}
    </table>
    </fieldset>
    <div class="btn-container">
      <button type="submit" class="btn btn-secondary"><span>Confirm</span></button>
    {% if memory %}
      <a href="{% url 'memory-detail' object.pk %}" class="btn btn-secondary"><span>Cancel</span></a>
    {% else %}
      <a href="{% url 'my-memories' %}" class="btn btn-secondary"><span>Cancel</span></a>
    {% endif %}
    </div>
  </form>
</div>

{% endblock %}
