{% extends 'main_app/base.html' %} {% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/details.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
{% endblock %}

{% block content %}

<div class="page-header">
    <a href="{% url 'memory-list' %}" class="link-subtle"><span>Return to All Memories</span></a>
    <h1>{{ memory.title }}</h1>
</div>

<div class="page-content">
    <div class="info">
        <p class="subtitle">Memory Details</p>
        <p class="attribute date">circa {{ memory.memory_date }}</p>
        <p>recorded by: {{ memory.created_by }} on {{ memory.created }}</p>
        <p>the story: {{ memory.description }}</p>
    </div>
        {% if user == memory.created_by %}
        <div class="btn-container">
            <a href="{% url 'memory-update' memory.id %}" class="link-subtle">Edit</a>
            <a href="{% url 'memory-delete' memory.id %}" class="link-subtle danger">Delete</a>
        </div>
        {% endif %}
    <div class="info">
        <p class="subtitle">Comments</h2>
        <div>
            {% for comment in comments %}
                <p><strong>{{ comment.created_by }}: {{ comment.text }}</strong></p>
                <p><small>{{ comment.created }}</small></p>
            
                {% if user == comment.created_by %}
                <div class="btn-container">
                <a href="{% url 'comment-update' comment.id %}" class="link-subtle">Edit</a>
                <a href="{% url 'comment-delete' comment.id %}" class="link-subtle danger">Delete</a>
            </div>
                {% endif %}
            {% empty %}
                <p>No comments yet. Be the first!</p>
            {% endfor %}
        </div>
        <form action="" method="post">
            <fieldset>
                <legend>Add Comment</legend>
                {% csrf_token %}
                {{ comment_form.as_p }}
                <div class="btn-container">
                    <button type="submit" class="btn btn-secondary"><span>Submit</span></button>
                </div>
            </fieldset>
        </form>
    </div>



</div>

{% endblock %}
