{% extends 'main_app/base.html' %} {% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/lists.css' %}" />
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>All Family Memories</h1>
  <div class="btn-container">
    <a class="btn btn-primary" href="{% url 'memory-create' %}">
      <span class="text">Add New Memory</span>
      <img src="{% static 'images/plus-green.svg' %}" alt="Plus icon" width="16" height="16">
    </a>
  </div>
</div>

<div class="page-content">
  {% if memory_list %}
  <section class="card-container">
    {% for memory in memory_list %}
    <div class="card">
      <a href="{% url 'memory-detail' memory.id %}">
        <div class="card-content">
          <img src="{% static 'images/log_outline.svg' %}" alt="Memory icon"/>
          <div class="card-text">
            <h1>{{ memory.title }}</h1>
            <p>Recorded by: {{ memory.created_by }}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </section>
  {% else %}
  <h2>
    There are no recorded memories in this family tree. <br>Be the first to add a new memory!
  </h2>
  {% endif %}
</div>

{% endblock %}
